*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	max-width:100%;
}
.first_header{
	background-color: #EEEEEE;
	height: 3.75em;
	overflow: hidden;
}
.first_header_div{
	display: flex;
	justify-content: space-between;
	/* padding-right: 257px;
	padding-left:257px; */
	width:71.7%;
	margin:1.0625em auto 1.375em auto;
	/* padding-top: 17px;
	padding-bottom: 22px; */
}
.first_header_div div ul{
	display: flex;
	justify-content: space-evenly;
	list-style: none;
}
.first_header_div div ul li a{
	text-decoration: none;
	color:#212121;
	font-size:1rem;
}
.first_header_first_div ul li{
	margin-right:1.875em;
}
.first_header_first_div ul .bullet::before{
    content: "\2022";
  color: gray;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
  position: relative;
	top: 3px;
}
.first_header_second_div ul li{
	margin-left:2.1875em;
}
.first_header_second_div ul .bullet::before{
	content: "\2022";
	color: gray;
	font-weight: bold;
	display: inline-block; 
	width: 1em;
	margin-left: -1em;
	position: relative;
	top: 3px;
}
.first_header_div span{
	font-weight: bold;
}
.heart{
	margin-left:0.5em !important;
}
/* .far:hover{
	background-color: black;
	overflow: hidden;
} */
.second_header{
	background-color: #FFFFFF;
	height:10.4375em;
	overflow: hidden;
}
.second_header_div{
	display:flex;
	justify-content: space-between;
	/* padding: 32px 257px 98px 257px; */
	width:71.7%;
	margin:2em auto 6.125em auto;
}
.second_header_div li{
	list-style: none;
}
.second_header_first_div{
	display: flex;
	justify-content: space-between;
}
.header_div{
	margin-right:8em;
	cursor:pointer;
}
.header_div h1{
	font-size:1.625rem;
}
.list_div{
	padding-top:5px;
}
.list_div ul{
	display: flex;
}
.list_div li a{
	text-decoration: none;
	margin-right:3.875em;
	color:#757575;
	font-size:0.875rem;
	position: relative;
	z-index: 2;
}
.hover_div1{
	width: 3.375em;
	height: 0.625em;
	background-color: #EEEEEE;
	position: relative;
	top: -0.3125em;
}
.hover_div2{
	width: 3.5em;
	height: 0.625em;
	background-color: #EEEEEE;
	position: relative;
	top:-0.3125em;
}
.hover_div3{
	width: 3.5em;
	height: 0.625em;
	background-color: #EEEEEE;
	position: relative;
	top:-0.3125em;
}
.hover_div4{
	width: 3.375em;
	height: 0.625em;
	background-color: #EEEEEE;
	position: relative;
	top:-0.3125em;
}
.hover_div5{
	width: 2.5em;
	height: 0.625em;
	background-color: #EEEEEE;
	position: relative;
	top:-0.3125em;
}
.hover_div6{
	width: 2.5em;
	height: 0.625em;
	background-color: #EEEEEE;
	position: relative;
	top:-0.3125em;
}
.hover_show{
	opacity: 0;
}
.list_div li a:hover + .hover_show{
	opacity: 1;
}
.list_div li a:hover{
	color: #212121;
}
.active_link a{
	color:#212121 !important;
	font-weight: bold;
}
.second_header_second_div{
	display: flex;
	justify-content: space-between;
}
.second_header_second_div div{
	margin-left:1.875em;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.second_header_second_div div i{
	width:1.125em;
	height:1.25em;
	cursor: pointer;
}
.second_header_second_div div p{
	cursor: pointer;
}
.cart{
	position: relative;
}
.cart i{
	width:1.4375em !important;
	height: 1.25em !important;
}
.topright{
	position:absolute;
	top:-0.625em;
	right:-3px;
	background-color: black;
	border-radius: 50%;
	width: 1em;
	height: 1em;
	color:white;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.topright p{
	font-size: 0.625rem;
}
.firstmain{
	background-color: #EEEEEE;
	position: relative;
}
.count_section{
	position: absolute;
	top:19.375em;
	left:0.5625em;
}
.count_section h1{
	font-size:2.875rem;
	line-height:0.7;
	margin-right: 0.9575rem;
}
.count_section>div{
	transform: rotate(-90deg);
	display: flex;
	align-items: flex-start;
}
.count_section>div>div{
	background-color:#424242;
	width:3.5625em;
	height:1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#FFFFFF;
	font-size:1rem;
}
.main_first_section{
	margin-left: 8.125em;
	background-color: #FFFFFF;
	position: relative;
	top:-4.0625em;
}
.slider_section{
	margin-right:8.125em;
	height: 53.75em;
	background-color: #F5F5F5;
	position: relative;
}
.slider_section_big{
	background-image: url(./images/download-\(1\)@2x.png);
	background-position: center;
	background-size:contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.chair_info{
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding-left:7.8125em;
	width:39.5625em;
}
.chair_info h1{
	font-size:1.375em;
	color:#424242;
}
.chair_info h2{
	font-size:4.25rem;
	color: #424242;
}
.chair_info p{
	font-size:1.125rem;
	color:#212121;
	margin-top:0.8125em;
}
.chair_info span{
	font-size:1.5rem;
	font-weight: bold;
}
.button1 button{
	padding:1.25em 3.5em;
	font-size:1rem;
	background-color: #212121;
	color: #FFFFFF;
	position: relative;
	margin-top: 2.6875em;
	outline: none;
	border:1px solid #212121;
}
.button1 button .circlediv1{
	width:0.5em;
	height:0.5em;
	position: absolute;
	top: 0.625em;
	left:0.625em;
	border-radius: 50%;
	border: white solid 1px;
}
.button1 button .circlediv2{
	width:0.5em;
	height:0.5em;
	position: absolute;
	bottom: 0.625em;
	right:0.625em;
	border-radius: 50%;
	border: white solid 1px;
}
.button1 button:hover,
.button1 button:active{
	background-color:transparent;
	color:#212121;
	border:#212121 1px solid;
}
.button1 button:hover .circlediv1{
	border-color:#212121;
}
.button1 button:hover .circlediv2{
	border-color:#212121;
}
.slider_section_small{
	height:14.125em;
	width: 16.25em;
	display: flex;
	flex-flow: column;
	position: absolute;
	bottom: 0;
	right: 0;
}
.background_next{
	background-image: url(./images/download\ \(3\)@2x.png);
	background-position: center;
	background-size: cover;
	height:9.125em;
}
.background_next-div{
	background-color: rgba(0, 0,0, 0.6);
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding-left: 1.875em;
}
.background_next-div h1{
	font-size:0,875rem;
	color:#FAFAFA;
}
.background_next-div h2{
	font-size:1.125rem;
	color:#FAFAFA;
	margin-top: 3px;
}
.arrow_div{
	display: flex;
	height: 5em;
}
.arrow_div div{
	display: flex;
	justify-content: center;
	align-items: center;
	width:50%;
	background-color: #424242;
}
.arrow_div1{
	border-top: 1px solid white;
	border-right: 1px solid white;
	font-size:1.875rem;
	cursor:pointer;
}
.arrow_div2{
	border-top: 1px solid white;
	font-size:30px;
	cursor:pointer;
}
.arrow_div i{
	color:white;
}
.market{
	display: flex;
	flex-flow: column;
	justify-content: center;
	height:38.125em;
}
.market_div{
	/* margin-left:7.8125em; */
	display: flex;
	margin:0 12.5% 0 7.5%;
	/* height: 31.8125em; */
	/* margin-right:15.9375em; */
}
.market_div1{
	width:32.6125em;
	background-color: #F5F5F5;
	height: 31.8125em;
	background-image: url(./images/aa2x.png);
	background-position: center;
	background-size:contain;
	background-repeat: no-repeat;
	position: relative;
	background: linear-gradient(to top right,white,trasparent);
}
.market_div1>div{
	position: absolute;
	top:5.5%;
	/* top:1.75em; */
	left:7.85%;
	/* left:2.5em; */
}
.market_div p{
	font-size:1rem;
	color: #424242;
}
.market_div h1{
	font-size:2rem;
	color:#424242;
}
.market_div h2{
	font-size:1.375em;
	color:#424242;
	font-weight:normal;
	margin-top:3px;
}
.market_div2{
	width:18.6125em;
	margin-left:1.875em;
	background-color: #F5F5F5;
	height:31.8125em;
	background-image: url(./images/Globo\ Beauty\ Chair@2x.png);
	background-position: center;
	background-size:contain;
	background-repeat: no-repeat;
	position: relative;
	background: linear-gradient(to top right,white,trasparent);
}
.market_div2>div{
	position: absolute;
	bottom:7.26%;
	/* bottom:2.3125em; */
	/* left:2.5em; */
	left:13%;
}
.market_div3{
	width:25.6125em;
	margin-left:1.875em;
	height: 31.8125em;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}
.market_div3>div{
	height:15.3125em;
	background-color: #F5F5F5;
}
.market_div31{
	position: relative;
	background-image: url(./images/download-\(4\)@2x.png);
	background-position: center;
	background-size:contain;
	background-repeat: no-repeat;
	background: linear-gradient(to top right,white,trasparent);
}
.market_div31>div{
	position: absolute;
	top:11%;
	/* top:1.75em; */
	/* left:2.5em; */
	left:7.85%;
}
.market_div32{
	position: relative;
	background-image: url(./images/Sofas@2x.png);
	background-position: center;
	background-size:contain;
	background-repeat: no-repeat;
	background: linear-gradient(to top right,rgba(255,255,255,0.7));
}
.market_div32>div{
	position: absolute;
	top:11%;
	/* top:1.75em; */
	/* left:2.5em; */
	left:7.85%;
}
.market_button-div{
	position: relative;
	height:2.5625em;
	background:transparent;
}
.upper_button{
	padding:0.625em 1.875em;
	outline: none;
	border:1px solid #757575;
	color:#212121;
	background:transparent;
	margin-top:0.815em;
	z-index:2;
	position: absolute;
}
.lower_button{
	width:7.095em;
	height:2.083125em;
	position: absolute;
	border:1px solid #757575;
	top:1.125em;
	left:0.4375em;
	z-index:1;
}
.main_second_section{
	margin-top:0.9375em;
}
.menu-market_section{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width:71.7%;
	margin:0 auto;
	/* margin-left:15.9375em;
	margin-right:15.9375em; */
	/* margin-top:5em; */
}
.menu-market_section a{
	text-decoration: none;
	color:#616161;
}
.list_menu-market ul{
	display:flex;
	list-style: none;
}
.market-active{
	background-color:#212121 !important;
	border-radius: 4px;
}
.market-active a{
	color:#EEEEEE !important;
}
.list_menu-market ul li{
	margin-right:0.625em;
	padding:0.75em 1.875em;
	background-color:#FFFFFF;
	border-radius: 4px;
	cursor: pointer;
}
.list_menu-market a{
	color:#616161;
	font-size:0.875rem;
}
.list_menu-market ul li:hover{
	background-color: #212121;
}
.list_menu-market ul li:hover a{
	color:#EEEEEE;
}
.list_menu-market ul li:active{
	background-color: #212121;
}
.list_menu-market ul li:active a{
	color:#EEEEEE;
}
.list2_menu-market{
	display: flex;
}
.list2_menu-market ul{
	list-style: none;
	display: flex;
	margin-left:0.9375em;
}
.list2_menu-market ul li{
	margin-left:0.5em;
}
.table-market_section{
	width:71.7%;
	margin:0 auto;
	/* margin:0 255px; */
	/* margin:0 15.9em; */
	padding-top:0.625em;
}
.flex-div-table-market{
	display: grid;
	grid-template-columns:auto auto auto auto;
	grid-template-rows: auto auto;
	grid-gap:1.25em;
	margin-top: 2.5em;
}
/* .flex-div-table-market>div{
	width:20.625em; 
	 margin-right:1.25em;
} */
.flex-div1{
	margin-left:0 !important;
}
.background-market{
	height:22.5em;
	background-image: url(./images/Stools@2x.png);
	background-position: center;
	background-size: cover;
	position:relative;
}
.background-market1{
	height:22.5em;
	background-image: url(./images/picture@2x.png);
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
	position: relative;
}
.background-market2{
	height:22.5em;
	background-image: url(./images/picture2@2x.png);
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}
.background-market3{
	height:22.5em;
	background-image: url(./images/picture3@2x.png);
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}
.background-market4{
	height:22.5em;
	background-image: url(./images/picture4@2x.png);
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}
.background-market5{
	height:22.5em;
	background-image: url(./images/picture@2x.png);
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}
.background-market6{
	height:22.5em;
	background-image: url(./images/picture2@2x.png);
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}
.background-market7{
	height:22.5em;
	background-image: url(./images/picture3@2x.png);
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}
.background-market8{
	height:22.5em;
	background-image: url(./images/picture4@2x.png);
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}
.characteristics{
	background-color: #FFFFFF;
	height:9.1875em;
}
.characteristics_div1{
	display:flex;
	padding-top:1.125em;
	padding-left:0.75em;
	padding-right:1.0625em;
	justify-content: space-between;
}
.characteristics>h1{
	margin-top:0.8125em;
	margin-left:0.75em;
	margin-right:1.3125em;
	font-size:1rem;
}
.characteristics_div2{
	margin:0.75em 0.75em 1.125em 0.75em;
	display: flex;
	justify-content: space-between;
}
.characteristics_div2 p{
	font-size:1rem;
}
.characteristics_div2 i{
	color: #F5540D;
	width:0.6875em;
	height:0.625em;
	margin-left:4px;
}
.characteristics_div1>p,
.characteristics_div1>div{
	cursor:pointer;
}
.characteristics>h1{
	cursor:pointer;
}
.characteristics_div2>p,
.characteristics_div2>div{
	cursor:pointer;
}
.characteristics_div2>div{
	position: relative;
	right:8px;
}
.black_background{
	background-color: black;
	color:#FFFFFF;
	width:2.625em;
	height:0.837rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:0.75rem;
}
.background-market>div>div{
	display:flex;
	align-items:center;
	justify-content: space-between;
	position: absolute;
	bottom:1.25em;
	left:0.9375em;
	right:0.9375em;
}
.cart-market{
	width:8.125em;
	height:2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:25px;
}
.cart-market button{
	width:100%;
	height:100%;
	background-color:#FFFFFF;
	border-radius:25px;
	outline:none;
	text-transform: uppercase;
	font-size:0.6875rem;
	font-family: 'Roboto', sans-serif;
	color:#212121;
	font-weight:lighter;
	opacity: 0;
}
.cart-market button:hover{
	opacity: 1;
}
.cart-market button:active{
	opacity: 1;
}
.active_button button{
	opacity: 1 !important;
}
.cart-market button i{
	margin-right:0.4375em;
}
.search-market{
	display: flex;
	width:2.5em;
	height:2.5em;
	justify-content: center;
	align-items:center;
	border-radius:50%;
	margin-left:0.75em;
}
.search-market button{
	width:100%;
	height:100%;
	background-color:#FFFFFF;
	border-radius:50%;
	outline:none;
	opacity: 0;
}
.search-market button:hover{
	opacity: 1;
}
.search-market button:active{
	opacity: 1;
}
.heart-market{
	display: flex;
	width:2.5em;
	height:2.5em;
	justify-content: center;
	align-items:center;
	border-radius:50%;
	margin-left:0.75em;
}
.heart-market button{
	width:100%;
	height:100%;
	background-color:#FFFFFF;
	border-radius:50%;
	outline:none;
	opacity: 0;
}
.heart-market button:hover{
	opacity: 1;
}
.heart-market button:active{
	opacity: 1;
}
.exchange-market{
	display: flex;
	width:2.5em;
	height:2.5em;
	justify-content: center;
	align-items:center;
	border-radius:50%;
	margin-left:0.75em;
}
.exchange-market button{
	width:100%;
	height:100%;
	background-color:#FFFFFF;
	border-radius:50%;
	outline:none;
	opacity: 0;
}
.exchange-market button:hover{
	opacity: 1;
}
.exchange-market button:active{
	opacity:1;
}
.table-market_section button{
	cursor:pointer;
}
.table-market_section i{
	cursor:pointer;
}
.sticker1,
.sticker2,
.sticker3{
	position:absolute;
	top:1.1875em;
	left:0;
	width:4.5em;
	height:2.1875em;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate(-90deg);
	font-family: 'Roboto', sans-serif;
}
.sticker1{
	background-color: #212121;
	color:#FFFFFF;
	font-size:1rem;
}
.sticker2{
	background-color:#F5540D;
	color:#FFFFFF;
	font-size:1rem;
}
.sticker3{
	background-color:#189E14;
	color:#FFFFFF;
	font-size:1rem;
}
.button1-market{
	/* width:80.5625em; */
	display: flex;
	justify-content: center;
}
.button1-market button:hover{
	background-color:#212121;
	color:#FAFAFA;
	border:1px #FAFAFA solid;
}
.button1-market button:hover div{
	border: #FAFAFA solid 1px !important;
}
.button1-market button{
	background-color: transparent;
	color:#212121;
	border:1px #212121 solid;
	margin:5em 0;
}
.button1-market button div{
	border: #212121 solid 1px !important;
}
.second_main{
	background-color: #FFFFFF;
}
.big_chair_section{
	display: flex;
	justify-content:flex-start;
	margin:5em auto 0 auto;
	width: 71.7% ;
	padding-left:7.5em;
	padding-right:5.0625em;
}
.big_chair_section>div{
	margin-right:11.8125em;
}
.big_chair_section_div2{
	width:35.625em;
	height:35.1875em;
	position:relative;
	margin-right:0 !important;
}
.big_chair_section_div2 img{
	width:35.625em;
	height:35.1875em;
	z-index:2;
	position: relative;
}
.big_chair_section_div2>div{
	display:flex;
	align-items:flex-end;
	position: absolute;
	top:3.25em;
	right:-5.0625em;
	cursor: pointer;
}
.big_chair_section_div2>div>div{
	display: flex;
	align-items: center;
}
.big_chair_section_div2 h1{
	margin-left:1.0625em;
	color:#212121;
	font-size:1.5rem;
}
.line_div{
	height:2px;
	width:6.875em;
	background-color:#757575;
}
.circle_div{
	width:1.375em;
	height:1.375em;
	border-radius:50%;
	background-color:#757575;
}
.big_chair_section_div1 h1{
	font-size:5.625rem;
	color:#333333;
	margin-top:2.4375rem;
}
.big_chair_section_div1 h2{
	font-size:1.25rem;
	color:#000000;
	margin-top:0.5625em;
	margin-bottom:4.3125rem;
}
.market2{
	background-color:#F5F5F5;
	margin-right:8.125em;
	position:relative;
	top:-8.125em;
	z-index:1;
}
.market2>div{
	margin-left:15.9375em;
	padding-top:14.8125em;
	margin-right:7.8125em;
	display: flex;
	justify-content:flex-start;
	overflow: hidden;
}
.market2_divs{
	display: flex;
	flex-flow:column;
	width:25em;
	margin-right:2.8125em;
}
.market2_divs:last-child{
	margin-bottom:41px;
}
.market2>div:last-child{
	margin-right:0 !important;
}
.market2-header{
	display:flex;
	justify-content: space-between;
}
.market2-header a{
	text-decoration: none;
	color:#616161;
}
.market2-header h1{
	font-size:1.375rem;
	color:#212121;
}
.line-div_market2{
	width:100%;
	height:1px;
	background-color:#757575;
}
.list-market2{
	margin-top:1.9375em;
}
.img-market2{
	width:8.875em;
	height:8.4375em;
	background-image:url(./images/Globo-Hebes-New-\(1\)@2x.png);
	margin-right:1.4625em;
}
.list-market2>div{
	display:flex;
	height:8.4375em;
	margin-bottom: 1.3125em;
}
.button-market2{
	margin-bottom: 0 !important;
}
.button-market2 button{
	padding:0.6875em 1.875em;
	font-size:1rem;
	position: relative;
	background-color:transparent ;
	color:#212121;
	outline:none;
	font-family: 'Roboto', sans-serif;
	border:1px solid #212121;
}
.button-market2 button:hover{
	background-color: #212121;
	color:#FFFFFF;
}
.button-market2 button:hover div{
	border: #FFFFFF solid 1px;
}
.circlediv1-market2{
	width:0.4375em;
	height:0.4375em ;
	position: absolute ;
	top: 0.3125em;
	left:0.3125em ;
	border-radius: 50% ;
	border: #212121 solid 1px;
}
.circlediv2-market2{
	width:0.4375em;
	height:0.4375em ;
	position: absolute ;
	bottom: 0.3125em;
	right:0.3125em ;
	border-radius: 50% ;
	border: #212121 solid 1px;
}
.info-market2{
	display: flex;
	flex-flow:column;
	justify-content:space-between;
}
/* .info-market2>div{
	margin-bottom:2.625em;
} */
.info-market2 h1{
	font-size:1rem;
	color:#000000;
	font-family: 'Roboto', sans-serif;
}
.info-market2 h2{
	font-size:1.125rem;
	color:#000000;
	font-weight: lighter;
	margin-top:0.5em;
	
}
.info-market2 span{
	text-decoration: line-through;
}
/* .img-market2>div{
	margin:10px;
} */
.img1-market2>div{
	width:100%;
	height:100%;
	background-image: url(./images/bb@2x.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.img2-market2>div{
	width:100%;
	height:100%;
	background-image: url(./images/picture@2x.png);
	background-position: center;
	background-size: cover;
}
.img3-market2>div{
	width:100%;
	height:100%;
	background-image: url(./images/picture3@2x.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.img4-market2>div{
	width:100%;
	height:100%;
	background-image: url(./images/picture2@2x.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.img5-market2>div{
	width:100%;
	height:100%;
	background-image: url(./images/download-\(7\)@2x.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.img6-market2>div{
	width:100%;
	height:100%;
	background-image: url(./images/Globo\ Beauty\ Chair.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.img7-market2>div{
	width:100%;
	height:100%;
	background-image: url(./images/picture4@2x.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.img8-market2>div{
	width:100%;
	height:100%;
	background-image: url(./images/download\ \(5\)@2x.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.img9-market2>div{
	width:100%;
	height:100%;
	background-image: url(./images/bb@2x.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.slider2_section{
	margin-top:-4.5em;
}
.slider2_section>div{
	width:85.5%;
	margin:0 auto;
	/* margin-left:8.125em;
	margin-right:8.125em; */
}
.slider2_divs{
	display: flex;
	justify-content: space-between;
}
.slider2_divs>div{
	width:33.125em;
	height:20.75em;
	background-color: #F5F5F5CC;
	margin-right:1.875em;
}
.last_slider2{
	margin-right:0 !important;
}
.list_slider2{
	width:100%;
	margin-bottom: 0.5625em;
	display: flex;
	justify-content: flex-end;
}
.list_slider2 a{
	text-decoration: none;
	color:#616161;
}
.slider2_divs>div>div{
	margin-top:8.5%;
	margin-left:8.5%;
	/* margin-top:2.5em; */
	/* margin-left:2.5em;  */
}
.slider2_divs h1{
	color:#000000;
	font-size:1.25rem;
}
.slider2_divs h2{
	color:#333333;
	font-size:35px;
	margin-bottom: 1.25rem;
}
.first_slider2{
	 background-image: url(./images/download-\(9\)@2x.png);
	 background-position: center;
	 background-size:contain;
	 background-repeat: no-repeat;
}
.second_slider2{
	background-image: url(./images/Barstool-punton@2x.png);
	background-position:center;
	background-size:contain;
	background-repeat: no-repeat;
}
.last_slider2{
	background-image: url(./images/download-\(8\)@2x.png);
	background-position:center;
	background-size:contain;
	background-repeat: no-repeat;
}
.third_main{
	background-color: #F5F5F5;
	margin-top:5em;
	overflow: hidden;
}
.countdown_section{
	background-color: #EEEEEE;
	margin-right:8.125em;
	overflow: hidden;
}
.countdown_div1{
	background-color: #F5F5F5;
	margin-left:8.125em;
	overflow: hidden;
}
.countdown_div1>div{
	margin:3.75em 7.8125em;
	background-color: #FFFFFF;
	overflow: hidden;
}
.countdown-info{
	margin:3.125em 7.5em 3.125em 12.5em;
	display: flex;
	justify-content:flex-start
}
.countdown-info_div1{
	margin:33px 0;
	margin-right:10.9375em;
}
.countdown-info_div1>div{
	display: flex;
	align-items: center;
	margin-top:1.4375em;
}
.countdown-info_div1>p{
	color:#616161;
	font-size:1.125rem;
}
.countdown-info_div1>h1{
	color:#212121;
	font-size:2.25rem;
}
.countdown-info_div1>h2{
	color:#616161;
	font-size: 1.5rem;
	margin-top:2rem;
}
.countdown-info_div1>h3{
	font-size:1.875em;
	color:#212121;
}
.countdown-info_div1 span{
	font-size:1.5rem;
	text-decoration:line-through;
}
.square_div{
	padding:1.125em;
	border:1px solid #212121;
}
.square_div h1{
	font-size:1.875rem;
	color:#212121;
}
.square_div p{
	font-size:0.875rem;
	color:#212121;
	text-align: center;
}
.countdown-info_div1>div>h2{
	margin:0 0.625em;
	font-size:1.25rem;
	color:#333333;
}
.countdown-button{
	margin-top:2px !important;
}
.countdown-button button{
	padding:0.875em 2.5em !important; 
	font-size:1rem!important;
}
.countdown-button button .circlediv1{
	width:0.4375em !important;
	height:0.4375em !important;
	top:0.4375em !important;
	left:0.4375em !important;
	border-radius: 50% !important;
}
.countdown-button button .circlediv2{
	width:0.4375em !important;
	height:0.4375em !important;
	bottom:0.4375em !important;
	right:0.4375em !important;
	border-radius: 50% !important;
}
.countdown_background{
	width:32.375em;
	height:28.125em;
	background-image:url(./images/download-\(10\)@2x.png);
}
.countdown_background>div{
	width:100%;
	height:100%;
	background-image: url(./images/picture2@2x.png);
	background-position:center;
	background-size:contain;
	background-repeat: no-repeat;
}
.market3_section{
	margin-right:7.8125em;
	margin-top:3.75em;
	margin-bottom:3.75em;
}
.market3_section>div{
	display: flex;
	justify-content: space-between;
	margin-left:15.9375em;
	overflow: hidden;
}
.info-market3{
	margin:3em 0;
}
.info-market3 h1{
	color:#212121;
	font-size:2.25rem;
}
.info-market3 p{
	font-size:1 rem;
	color:#000000;
	margin-top:1.25em;
	width:19.0625em;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	line-height: 2;
}
.button-market3{
	margin-top:2.8125em;
}
.table-market3{
	margin-top:0 !important;
	display: flex ;
	justify-content: flex-end ;
	margin-left:1.25em;
	position: relative;
}
.table-market3>div{
	margin-left:1.25em;
	margin-right:0 !important;
}
.left_arrow{
	width:2em;
	height:3.75em;
	position: absolute;
	left:0;
	top:30%;
	background-color:#616161;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
}
.left_arrow i{
	color:white;
	font-weight:700;
}
.right_arrow{
	width:2em;
	height:3.75em;
	position: absolute;
	right:0;
	top:30%;
	background-color:#616161;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
}
.right_arrow i{
	color:white;
	font-weight:700;
}
.market3_part2{
	margin:3.75em 0;
}
.market3_part2>div{
	margin: 0 15.9375em;
	display: flex;
	justify-content: space-between;
}
.table-market3_part2{
	margin-top:0 !important;
	display: flex;
	justify-content: flex-start;
}
.table-market3_part2{
	margin-right:1.25em;
	position: relative;
}
.table-market3_part2>div{
	margin-right:1.25em;
}
.flex-div3{
	margin-right:0 !important;
}
.background-market3_part2{
	background-image: url(./images/picture5@2x.png) !important;
}
.forth_main{
	background-color:#FFFFFF;
}
.email_section{
	width:100%;
	text-align: center;
	margin:5em 0;
}
.email_section h1{
	color:#0D0D0D;
	font-size:2.875rem;
}
.email_section p{
	color:#000000;
	font-size:1 rem;
	margin-top:0.8125em;
}
.email_div{
	width:100%;
	margin-top:3.125em;
	display: flex;
	justify-content: center;
}
.email_div input{
	padding:1em 1.25em 1em 1.25em;
	width:25em;
	background-color:#F5F5F5;
	outline:none;
	border-radius:4px;
	font-size:0.875rem;
}
.email_div input::placeholder{
	font-size:0.875rem;
	color:#757575;
}
.email_div button{
	background-color:#212121;
	border-radius: 4px;
	outline:none;
	padding:0.9375em 2.6875em;
	color:#FFFFFF;
	font-size:1 rem;
	border:1px #212121;
}
.blog_section{
	background-color:#F5F5F5;
	margin-left:8.125em;
	overflow: hidden;
}
.blog_section>div{
	margin:6.25em 15.9375em 6.25em 7.8125em;
}
.blog_div1{
	width:100%;
	text-align: center;
}
.blog_div1 h1{
	font-size:2.875rem;
	color:#424242;
}
.blog_div1 p{
	font-size:0.875rem;
	color:#212121;
	margin-top:0.625em;
}
.blog_div2{
	display: flex;
	justify-content:flex-start;
	margin-top:3.125em;
}
.blog_div2>div{
	width:25.625em;
	margin-right:1.875em;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.background-blog{
	width:100%;
	height:295px;
}
.background-blog1{
	background-image: url(./images/NoPath\ -\ Copy\ \(2\)@2x.png);
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
}
.background-blog2{
	background-image: url(./images/NoPath\ -\ Copy\ \(3\)@2x.png);
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
}
.background-blog3{
	background-image: url(./images/NoPath\ -\ Copy\ \(4\)@2x.png);
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
}
.info-blog{
	padding:1.25em 0.5625em;
	background-color:white;
}
.info-blog>h1{
	font-size:1.25rem;
	color:#424242;
}
.paragraph_div{
	margin-top:1.875em;
	display: flex;
}
.paragraph_div p{
	color:#616161;
	font-size:0.75rem;
	margin-right:0.625em;
}
.info-blog h2{
	font-size:0.875rem;
	color:#212121;
	margin-top:1.875em;
}
.line_div_blog{
	display: flex;
	align-items:center;
	margin-top:2em;
}
.line_blog{
	width:3.125em;
	height:2px;
	background-color: #616161;
	margin-right:0.9375em;
}
.info-blog h3{
	font-size:0.875rem;
	color:#616161;
}
.icon-emblem_section{
	background-color:#EEEEEE;
}
.icon_div{
	margin-right:130px;
	background-color:#FFFFFF;
}
.icon_div>div{
	margin-left:14.9375em;
	overflow: hidden;
}
.icon_div>div>div{
	display: flex;
	justify-content:space-between;
	align-items:center;
	margin:6.25em 12.5em 6.25em 4.6875em;
}
.icon_div>div>div>div{
	text-align: center;
}
.icon_div i{
	font-size:4.375rem;
	color:#212121;
}
.icon_div h1{
	font-size:1.25rem;
	color:#000000;
	margin-top:1.25em;
}
.icon_div p{
	font-size:1 rem;
	color:#000000;
	margin-top:3px;
}
.emblem_div{
	overflow: hidden;
}
.emblem_div>div{
	margin:6.25em 20.625em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.img_class1{
	width:8.125em;
	height:8.125em;
}
.img_class2{
	width:9.375em;
	height:6.25em;
}
.img_class3{
	width:8.75em;
	height:6.25em;
}
footer{
	overflow: hidden;
}
.footer_div1{
	margin:6.25em 23.125em 6.25em 15.9375em;
	display: flex;
	justify-content: flex-start;
}
.footer_paragraph{
	width:28.1875em;
}
.footer_paragraph h1{
	color:#424242;
	font-size:1.625rem;
}
.footer_paragraph p{
	margin-top:1.125em;
	font-size:0.875rem;
	color:#212121;
	line-height: 2;
}
.footer_list{
	display: flex;
	justify-content:space-between;
	margin-left:2.875em;
	width:51.1875em;
}
.footer_list h2{
	font-size:1.125rem;
	color:#424242;
}
.footer_list ul{
	list-style: none;
	margin-top:1.625em;
}
.footer_list li{
	margin-top:0.5625em;
}
.footer_list a{
	text-decoration: none;
	font-size:0.875rem;
	color:#212121;
}
.copyright_div{
	margin:0 15.9375em;
	text-align: center;
	padding:1.875em 0;
	border-top: 1px solid #CFCFCF;
}
.copyright_div h1{
	font-size:0.75rem;
	color:#000000;
	letter-spacing: 3.6px;
	font-family: 'Roboto', sans-serif;
	cursor:pointer;
}